.app__home-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 630px;
  width: 100%;
  background-image: url("../../assets/fon.png");
  background-size: cover;
  border-color: black;

  .home-page {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    color: white;
    gap: 20px;

    &__title {
      font-weight: 700;
      font-size: 40px;
      line-height: 49px;
    }

    &__subtitle {
      font-weight: 500;
      font-size: 20px;
      line-height: 30px;
    }

    &__button {
      background: #FFFFFF;
      mix-blend-mode: normal;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 20px;
      color: black;
      padding: 10px 30px;
      cursor: pointer;
    }
  }
}