.app-catalog {
  width: 100%;
  display: flex;
  flex-direction: column;

  .title {
    font-weight: 600;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
    margin-bottom: 30px;
    text-align: center;
  }

  .catalog__list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px 15px;
    margin-bottom: 20px;
    align-content: center;

    @media (max-width: 960px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: 830px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 530px) {
      grid-template-columns: 1fr;
    }

    .list__item {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      margin: 0 auto;
      padding: 20px;
      max-width: 340px;
      min-height: 420px;
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
      color: #000000;
      border: 1px solid rgba(188, 188, 188, 0.2);
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      border-radius: 30px;

      &.lgd {
        background: url("../../assets/goods/lgd.jpg") center;
        background-size: cover;
      }

      &.icariin {
        background: url("../../assets/goods/icariin.jpg") center;
        background-size: cover;
      }

      &.dmba {
        background: url("../../assets/goods/dmba.jpg") center;
        background-size: cover;
      }

      &.lipo-star {
        background: url("../../assets/goods/lipo-star.jpg") center;
        background-size: cover;
      }

      &.ecd {
        background: url("../../assets/goods/ecd.jpg") center;
        background-size: cover;
      }

      &.alpha-gpc {
        background: url("../../assets/goods/alpha-gpc.jpg") center;
        background-size: cover;
      }

      &.htp {
        background: url("../../assets/goods/5-htp.jpg") center;
        background-size: cover;
      }

      &.pau-d-arco {
        background: url("../../assets/goods/pau-d-arco.jpg") center;
        background-size: cover;
      }

      p {
        text-align: center;
      }
    }
  }
}