@import "../../index.scss";


.page__about-us {
  width: 100vw;
  animation: show 1.5s ease-in;

  ._container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .about-us__brands {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;

    img {
      display: block;
      max-width: 300px;
      
      @media (max-width: 830px) {
        max-width: 200px;
      }

      @media (max-width: 520px) {
        max-width: 100px;
      }
    }
  }

  .logo {
    margin: 25px;
  }

  .info {
    height: 100%;
    width: 40%;

    @media (max-width: 830px) {
      width: 60%;
    }

    @media (max-width: 430px) {
      width: 80%;
    }

  }

  .about-us {
    ._container {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
    }
  }

  .about-us__platinum {
    min-height: 100vh;
    width: 100%;
    background: url("../../assets/background-desktop_platina.png") no-repeat center center;
    background-size: cover;

    .text {
      margin-bottom: 20px;
      @include adaptiv-font(25,18);
      line-height: 30px;
      }
    }

  .about-us__green-frog {
    min-height: 100vh;
    width: 100%;
    background: url("../../assets/background-green_desktop.png") no-repeat center center;
    background-size: cover;
    color: white;

    @media (max-width: 830px) {
      background: url("../../assets/background-green_mobil.png") no-repeat center center;
      background-size: cover;
    }

    .text {
      color: white;
      @include adaptiv-font(25,18);
      line-height: 30px;
      margin-top: 30px;
      margin-bottom: 30px;
    }
  }
}

@keyframes show {
  from {opacity: 0.3}
  50% {opacity: 0.8}
  to {opacity: 1}
}
