.page__about-us {
  width: 100%;
  animation: show 1.5s ease-in;

  ._container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }


  .title {
    font-weight: 600;
    font-size: 2rem;
    line-height: 42px;
    color: #000000;
    margin-bottom: 20px;
    text-align: left;
  }

  .subtitle {
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 38px;
    color: #000000;
    margin-bottom: 20px;
    text-align: left;
  }

  .about-us__brands {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;

    img {
      display: block;
      max-width: 300px ;
    }
  }

  .logo {
    margin: 25px;
  }

  .info {
    width: 40%;

    .text {
      font-weight: 400;
      font-size: 20px;
      line-height: 30px;
      margin-bottom: 25px;
    }
  }

  .about-us {
    ._container {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
    }
  }

  .about-us__platinum {
    min-height: 100vh;
    width: 100%;
    background: url("../../assets/icons/fonPlatina.png") no-repeat center center;
    background-size: cover;
    }

  .about-us__green-frog {
    min-height: 100vh;
    width: 100%;
    background: url("../../assets/GreenLineFon.png") no-repeat center center;
    background-size: cover;
    color: white;
  }
}

@keyframes show {
  from {opacity: 0.3}
  50% {opacity: 0.8}
  to {opacity: 1}
}
