.app__main-page {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 30px;
  gap: 30px;
  padding-bottom: 20px;
  box-sizing: border-box;

  .awssld .awssld--organic-arrows {
    height: 100%;

    .awssld__bullets {
      box-sizing: border-box;
      margin-bottom: 20px;
    }
  }
}