@import "../../index.scss";

.main-page__catalog {
  width: 50%;

  .catalog__list {
    font-family: 'Gabriela', serif;

    .menu__title {
      margin-top: 20px;
    }

    .list__item {
      margin-top: 10px;
      @include adaptiv-font(18, 12);
    }
  }
}