@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');

$maxWidth: 1280;

@mixin adaptiv-font($pcSize, $mobSize) {
  $addSize: $pcSize - $mobSize;
  $maxWidth: $maxWidth - 320;
  font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}

body {
  width: 100%;
  height: 100vh;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background: #FFFFFF;
  background-size: cover;
}

#root {
  width: 100%;
  height: 100%;
}

._container {
  max-width: 1320px;
  padding: 20px 20px;
  margin: 0 auto;
}

.btn {
  width: 100%;
  background: #9B9B99;
  border: none;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding: 5px 0;
  color: white;

  &:hover {
    transform: scale(1.1);
  }
}

p, h2, h3 {
  margin-bottom: 10px;
}

ul {
  margin-left: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}

li {
  list-style-type: circle;
}

