@import "../../index.scss";

.app__benefits {
  height: 90vh;
  width: 100vw;
  background-image: url("../../assets/WhyWeFon.png");
  background-size: cover;
  background-repeat: no-repeat;

  .title {
    align-self: center;
    color: white;
    margin-bottom: 40px;
  }

  .benefits__list {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 20px;

    .list__item {
      @include adaptiv-font(24, 14);
      font-weight: 600;
      line-height: 32px;
      color: #FFFFFF;
      margin-bottom: 15px;
    }

  }
}