@import "../../index.scss";

.app__benefits {
  height: 90vh;
  width: 100vw;
  background-image: url("../../assets/background-desktop_benefits.png");
  background-size: cover;
  background-repeat: no-repeat;

  @media (max-width: 576px) {
    background-image: url("../../assets/background-mobil_benefits.png");
  }

  ._container {
    display: flex;
    flex-direction: column;
  }

  .title {
    align-self: center;
    color: white;
    margin-bottom: 40px;
  }

  .benefits__list {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 20px;

    @media (max-width: 576px) {
      width: 100%;
    }

    .list__item {
      @include adaptiv-font(24, 18);
      font-weight: 600;
      line-height: 32px;
      color: #FFFFFF;
      margin-bottom: 20px;
      list-style-type: none;
    }
  }
}