.app__benefits {
  min-height: 770px;
  background-image: url("../../assets/WhyWeFon.png");
  background-size: 100%;
  background-repeat: no-repeat;

  .title {
    align-self: center;
    color: white;
    margin-bottom: 40px;
  }

  .benefits__list {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 146px;

    .list__item {
      font-weight: 600;
      font-size: 26px;
      line-height: 32px;
      color: #FFFFFF;
      margin-bottom: 20px;
    }

  }
}