.card {
  max-width: 320px;
  animation: card 1s ease-in;
  border: 1px solid rgba(0, 0, 0, 0.2);

  .card__image {
    min-height: 300px;
  }

  .card__item {
    min-height: 300px;
    display: grid;
    grid-template-rows: auto auto 55px;
    padding: 5px 15px 10px 15px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    gap: 10px;
    background: #FFFFFF;


    .card__title {
      font-weight: 500;
      font-size: 1.2rem;
      line-height: 20px;
      margin-top: 10px;
    }

    .card__descr {
      font-size: 0.9rem;
      opacity: 0.7;
      font-weight: 500;
      line-height: 20px;
    }

    .btn_buy {
      background: linear-gradient(180deg, #000000 25%, rgba(0, 0, 0, 0.13) 100%);
      mix-blend-mode: normal;
      border-radius: 20px;
      font-weight: 500;
      font-size: 1.2rem;
      line-height: 16px;
      color: white;
      margin-bottom: 10px;
    }
  }
}


.app__top-sale {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  background: linear-gradient(180deg, #000000 53.01%, rgba(0, 0, 0, 0) 100%);

  .top-sale__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;

    .top-sale__title {
      margin: 30px 0;
      color: white;
    }

    .top-sale__list {
      display: grid;
      grid-template-rows: 1fr 1fr;
      grid-template-columns: repeat(4,1fr);
      gap: 20px;
    }
  }
}

@keyframes card {
  from {opacity: 0.3}
  50% {opacity: 0.8}
  to {opacity: 1}
}